include variables
include head

body

  //- Block content
  block content

    .wrapper
      .wrapper__content
        include header

        main(role="main")

          block main

        include footer
