block vars
  - c = config

  if (c != undefined)
    - jProject = c.project
    - jNavbar = c.navbar
    - jCarousel = c.carousel
    - jArticleCarousel = c.articleCarousel
    - jArticleStepbyStep = c.articleStepbyStep
    - jBrands = c.brands
    - jProducts = c.products
    - jCart = c.cart
    - jExpert = c.expert
    - jCountry = c.country
    - jOtherLinks = c.otherLinks
    - jSitemapExtra = c.sitemapExtra
    - jFaceted = c.faceted
    - jCategory = c.category
    - jNavbarPG = c.navbarPG
    - jRewardListOffer = c.rewardListOffer
    - jRewardListAdvice = c.rewardListAdvice
    - jWinnerList = c.winnerList
    - jGrowOnFaq = c.growOnFaq
    - jRewardFilters = c.rewardFilters
    - jRewardAddons = c.rewardAddons
    - jRegistration = c.registration
    - jEditProfile = c.editProfile
    - jRegistrationStep2 = c.registrationStep2
    - jAboutRegistration = c.aboutRegistration
    - jBannerGrid = c.bannerGrid
    - jLogin = c.login
    - jCartBin = c.cartBin
    - jRegistrationPopup = c.registrationPopup
    - jFacetedOffers = c.facetedOffer
  else
    - jProject = project
    - jNavbar = navbar
    - jCarousel = carousel
    - jArticleCarousel = articleCarousel
    - jArticleStepbyStep = articleStepbyStep
    - jBrands = brands
    - jProducts = products
    - jCart = cart
    - jExpert = expert
    - jCountry = country
    - jOtherLinks = otherLinks
    - jSitemapExtra = sitemapExtra
    - jFaceted = faceted
    - jCategory = category
    - jNavbarPG = navbarPG
    - jRewardListOffer = rewardListOffer
    - jRewardListAdvice = rewardListAdvice
    - jWinnerList = winnerList
    - jGrowOnFaq = growOnFaq
    - jRewardFilters = rewardFilters
    - jRewardAddons = rewardAddons
    - jRegistration = registration
    - jEditProfile = editProfile
    - jRegistrationStep2 = registrationStep2
    - jAboutRegistration = aboutRegistration
    - jBannerGrid = bannerGrid
    - jLogin = login
    - jCartBin = cartBin
    - jRegistrationPopup = registrationPopup
    - jFacetedOffers = facetedOffer

  - pName            = jProject.name
  - pSassDir         = jProject.sassDir
  - pPathImg         = jProject.pathImg
  - pImage           = pPathImg + pName + "/" + pSassDir + "/"
  - pCss             = jProject.pathCss
  - pJs              = jProject.pathJs
  - pReadDirection   = jProject.readDirection
  - pLanguage        = jProject.language
  - pDevice          = jProject.device
  - pScriptsMode     = jProject.scriptsMode // 'normal' / 'concat' / 'minified' / 'singlefile'
  - pLogin           = jProject.login
  - pBreadcrumb      = jProject.breadcrumb
  - pAuthorSignature = jProject.authorSignature
  - pCulture         = jProject.culture
  - pFlyout          = jProject.flyout

  - dealers          = jCart.ci_data.dealers.dealer
